<!--Logo-->
<div class="cb-logo-wrapper" role="banner">    
  <a href="/" >
    <img class="cb-logo" src="{{ 'cb-logo.png' | file_url }}">
  </a>
</div>

{% comment %}
<div class="cb-logo-text-wrapper">
  <div class="cb_nav_font_logo cb-logo-text">
    <font class="cb_nav_font_logo_larger">C</font><font class="cb_nav_font_logo_smaller">HARLIE </font>
    <font class="cb_nav_font_logo_larger">B</font><font class="cb_nav_font_logo_smaller">ANANA</font><sup>®</sup>
  </div>
</div>
{% endcomment %}


{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
