{% include 'breadcrumb' %}

<div class="col-40">
<a href="/"><img class="imgSizer" src="https://cdn.shopify.com/s/files/1/1213/3976/files/404-stork.jpg?2967692678025611381"></a>
</div>
<div class="col-60">
  <div class="center">
  <h1>Oops!</h1>
  <h6>It looks like we’ve landed in the wrong place! But...</h6><br>
  <h1>Yay!</h1>
  <h6>Cloth diapering is the good direction to take. You’re on the right website!</h6>
  <br>
  <h5>Did you know an average of 6000 disposable diapers are used to diaper a child to the age of 24 months?</h5>
  </div>
</div>
  
