{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

    <h1>{{ page.title }}</h1>
    
    <div class="rte">
      {{ page.content }}
    </div>

    
 </div>
  
  <!-- TrustBox widget - Carousel --> 
  <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="593854e20000ff0005a4166d" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5" data-schema-type="Organization"> 
    <a href="https://www.trustpilot.com/review/charliebanana.com" target="_blank">Trustpilot</a> 
  </div> 
  <!-- End TrustBox widget -->

</div>
