{% include 'breadcrumb' %}
<h1 id="{{page_title | handle}}">{{ page.title }}</h1>
<div class="grid">
	<div class="grid-item large--two-thirds push--large--one-sixth">
		
    	<div class="rte">
      		{{ page.content }}
<!--             <div class="col">
            	<img src="https://cdn.shopify.com/s/files/1/2625/2860/files/multiple-brands.png?188" alt="Charlie Banana Major Retailers" />
            </div> -->
            
		</div>
	</div>
</div>
<div class="grid">
	<h2>Distributor</h2>
  	<div class="half">
	   <!---tab-1 AR starts---->
	    <div class="tab blue">
	    	<input id="tab-one" type="radio" name="tabs2" /> 
	        <label for="tab-one">Canada</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	            	<div class="box-content">
	                    <p class="box-title">QHouseKids</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Canada inc, dba QHouseKids, 21100 Daoust,<br/>Ste Anne de Bellevue QC H9X 4C7,<br/>Canada</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+5144573088">514 457 3088</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:gaelle@qhousekids.com">gaelle@qhousekids.com</a></i></li>
	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Q+House+Kids,+21100+Rue+Daoust,+Sainte-Anne-de-Bellevue,+QC+H9X+4C7,+Canada/@45.433289,-73.924431,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4cc9399868ab029b:0xcd890b7aa9cfde0!2m2!1d-73.922237!2d45.433289"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-2 AR starts---->
	    <div class="tab blue">
	      	<input id="tab-two" type="radio" name="tabs2" /> 
	        <label for="tab-two">Israel</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Sivan Barshaf Ltd.</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Zatori St, 5<br/> Tel Aviv,<br/>Israel</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+972544811450">9725 4481 1450</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:sivan@charlie-banana.co.il">sivan@charlie-banana.co.il</a></i></li>
	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Zatory+St+5,+Tel+Aviv-Yafo,+Israel/@32.0921337,34.7923638,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x151d4be9898408fb:0xc161d124dce63866!2m2!1d34.7945578!2d32.0921337"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-3 starts---->
	    <div class="tab blue">
	      	<input id="tab-third" type="radio" name="tabs2" /> 
	        <label for="tab-third">Malaysia</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Global Product Solutions Sdn Bhd</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Wisma Pang Cheng Yean, Lot 5205C, Jalan Perindustrian Balakong Jaya 1/3, Taman Perindustrian Balking Jaya <br>Seri Kembangan<br> Malaysia</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:puimun.ooi@globaloutsourceasia.com">puimun.ooi@globaloutsourceasia.com</a></i></li>
	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//mothercare+Malaysia+HQ,+Wisma+Pang+Cheng+Yean,+Kim+Hin+Joo+(Malaysia)+Berhad,+Lot+5205C,+Jalan+Perindustrian+Balakong+Jaya+1%2F3,+Kawasan+Perindustrian+Balakong+Jaya,+43300+Seri+Kembangan,+Selangor,+Malaysia/@3.0005834,101.7411633,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31cdcafa46f520cf:0x677b7bf985f7f5e2!2m2!1d101.7433573!2d3.0005834"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-4 starts---->
	    <div class="tab blue">
	      	<input id="tab-fourth" type="radio" name="tabs2" /> 
	        <label for="tab-fourth">Romania</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Organic Shop</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Str. Victor Babes 21A Birou 2<br/> Baia Mare <br/>Romania  </li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                        	<li><i class="fa fa-phone"></i><span><a href="tel:+40746476329">40 746 476329</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:office@organicshop.ro">office@organicshop.ro</a></i></li>
	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Strada+Doctor+Victor+Babe%C8%99+21,+Baia+Mare,+Romania/@47.6618415,23.5507866,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x4737dc4e4d160b67:0x95aab58ecdc01b24!2m2!1d23.5529806!2d47.6618415"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-5 starts---->
	    <div class="tab blue">
	      	<input id="tab-fifth" type="radio" name="tabs2" /> 
	        <label for="tab-fifth">China</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Shanghai Ci Hui Ltd. (lalabu.cn)  </p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>275 South Chong Qing Rd,<br/>Shanghai 200025 <br/>China  </li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                        	<li><i class="fa fa-phone"></i><span><a href="tel:+4647 9925656">647 9925656</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:marketing.tm@lalabu.cn">marketing.tm@lalabu.cn</a></i></li>
	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//China,+200025/@31.2142,121.4758434,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x35b270771616dfb5:0x13ca16fc59c4f342!2m2!1d121.4780374!2d31.2142"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-6 starts---->
	    <div class="tab blue">
	      	<input id="tab-six" type="radio" name="tabs2" /> 
	        <label for="tab-six">Hong Kong</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Winc Design Ltd</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Unit O, 7/F, Kaiser Estate, Phase III, 11 Hok Yuen Street, Hunghom<br/>Hong Kong</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                        	<li><i class="fa fa-phone"></i><span><a href="tel:+85223020526">852 2302 0526</a></span></li>
	                        	<li><i class="fa fa-link"></i> <a href="https://www.charliebanana.com" target="_black"> Visit Website </a></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:support@charliebanana.com">support@charliebanana.com</a></i></li>
	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//China,+200025/@31.2142,121.4758434,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x35b270771616dfb5:0x13ca16fc59c4f342!2m2!1d121.4780374!2d31.2142"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	</div>
	<div class="half">
		<!---tab-1  starts----> 
	    <div class="tab blue">
	        <input id="tab-nc" type="radio" name="tabs2" /> 
	       	<label for="tab-nc">Greece</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">I.Kloukinas - I.Lappas S.A.</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Omirou 2 & Teo str<br/> Tavros<br/> Greece</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+302104821186">30 210 4821186</a></span></li>
	                            <li><i class="fa fa-link"></i> <a href="https://www.mothercare.gr/" target="_black"> Visit Website </a></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:ms@mothercare.gr">ms@mothercare.gr</a></i></li>

	                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Omirou+2,+Tavros+177+78,+Greece/@37.9628872,23.6981472,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14a1bcf6e3fd0975:0x63a55101bc82a751!2m2!1d23.7003412!2d37.9628872"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-2 AR starts----> 
	    <div class="tab blue">
	 		<input id="tab-it" type="radio" name="tabs2" /> 
	        <label for="tab-it">Italy</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Tatanatura di Bartolomei Serena</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Corso Matteotti 24 <br/> Saltara<br/> Italy</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+393494105613">393494105613</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:commerciale@tatanatura.com">commerciale@tatanatura.com</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Tatanatura,+Corso+Matteotti,+24,+61036+Saltara+PU,+Italy/@43.7529842,12.8952611,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x132d03f7fd731155:0x4091a36379f07d40!2m2!1d12.8974551!2d43.7529842"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div> <!----first-end---->
                 <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Babymio snc di Emilia Cristofori e Sabrina Favari</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Via Colonnello Fincato 27037131 <br/>Verona<br/> Italy</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+393495893045">+39 3495893045</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:emilia@babymio.it">emilia@babymio.it</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.com/maps/place/Via+Colonnello+Giovanni+Fincato,+Verona+VR,+Italy/@45.4580089,11.0236511,17z/data=!3m1!4b1!4m5!3m4!1s0x477f58c52085ba4f:0x112e1a4437b1637!8m2!3d45.4580052!4d11.0258398"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-3 AR starts----> 
	    <div class="tab blue">
	 		<input id="tab-nw" type="radio" name="tabs2" /> 
	        <label for="tab-nw">New Zealand</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Bitti Bums</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>77 Wairimu Way, RD 2<br/> Waipu<br/> New Zealand</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+64210402504">64210402504</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:karen@bittibums.com">karen@bittibums.com</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//77+Wairimu+Way,+Waipu+0582,+New+Zealand/@-36.0432625,174.4685954,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6d0c9185e6ad8465:0x6958450b34f76eab!2m2!1d174.4707894!2d-36.0432625"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-3 AR starts----> 
	    <div class="tab blue">
	 		<input id="tab-uae" type="radio" name="tabs2" /> 
	        <label for="tab-uae">UAE</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">We First Trading Co W.L.L</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>05, Juma Building, Building No: 47, Road: 378, <br/>Manama, Bahrain <br/> UAE</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+0097317300848">0097317300 848</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:shibu@wefirsttrading.com">shibu@wefirsttrading.com</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Manama,+Bahrain/@26.2266124,50.5539209,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3e49af722776a62d:0x8b6738a6070f60c2!2m2!1d50.5860497!2d26.2285161"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
	    <!---tab-3 AR starts----> 
	    <div class="tab blue">
	 		<input id="tab-fr" type="radio" name="tabs2" /> 
	        <label for="tab-fr">France</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Walabu</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>36 Chemin Du Nono 97224, Syndic, Ducos, <br/>Martinique<br/> France</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+696205066">696205066</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:walabuh@gmail.com">walabuh@gmail.com</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.co.in/maps/dir//Ducos,+Martinique/@14.5789684,-61.0027462,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8c6aa04078b9236b:0x31e6e379e6d568fd!2m2!1d-60.9656452!2d14.5824565"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
         <!---tab-3 AR starts----> 
	    <div class="tab blue">
	 		<input id="tab-hr" type="radio" name="tabs2" /> 
	        <label for="tab-hr">Hungry</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Zöld Úton</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>2096 Üröm, Kálvária utca 20 <br/>Kálvária utca<br/> Hungry</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:++36306897271">+36 30 689 7271</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:info@zolduton.hu">info@zolduton.hu</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.com/maps/place/%C3%9Cr%C3%B6m,+K%C3%A1lv%C3%A1ria+utca+20,+2096+Hungary/@47.5905134,19.013546,17z/data=!3m1!4b1!4m5!3m4!1s0x4741d836e7f4fb79:0x1af5d443dcad95a6!8m2!3d47.5905134!4d19.0157347"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
       <!---tab-3 AR starts----> 
	    <div class="tab blue">
	 		<input id="tab-st" type="radio" name="tabs2" /> 
	        <label for="tab-st">Switzerland</label>
	        <div class="tab-content"><!----sub-tab starts---->
	            <div class="Swim-School_address">
	                <div class="box-content">
	                    <p class="box-title">Topffit-Babyshop</p>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 0px;">Address Details</p>
	                        <ul class="address-detail">
	                            <li>Isabelle Jacot, Chemin de l'Étang 8, 1682,<br/>VillarsBramard<br/>Switzerland</li>
	                        </ul>
	                    </div>
	                    <div class="box-item one-half">
	                        <p style="font-weight: bold; text-transform: uppercase; margin-bottom: margin-bottom: 0px;">Contact Details</p>
	                        <ul class="contact-detail">
	                            <li><i class="fa fa-phone"></i><span><a href="tel:+0041(0)215586187">0041 (0)21 558 61 87</a></span></li>
	                            <li><i class="fa fa-envelope" aria-hidden="true"><a href="mailto:info@topffit.ch">info@topffit.ch</a></i></li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.com/maps/place/Chemin+de+l'+Etang+8,+1682+Valbroye,+Switzerland/@46.7167366,6.8940038,17z/data=!3m1!4b1!4m5!3m4!1s0x478e791fb66d5c85:0x832dddb362d22d87!8m2!3d46.7167366!4d6.8961925"><span> Visit Direction</span></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!----sub-tab ends---->
     </div>
</div>
<br/><br/><br/><br/>
<div class="carousel-wrap-test">
  	<div class="owl-carousel">
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/buybuybaby.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/target.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/kroger.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/loblaws.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/walmar.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/thrive.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/amazon.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/mothercare.png?197"></div>
      <div class="item"><img src="https://cdn.shopify.com/s/files/1/2625/2860/files/imaginarium.png?197"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
  		$('.owl-carousel').owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          navText: [
            "<i class='fa fa-caret-left'></i>",
            "<i class='fa fa-caret-right'></i>"
          ],
          autoplay: true,
          autoplayHoverPause: true,
          responsive: {
            0: {
              items: 2
            },
            600: {
              items: 5
            },
            1000: {
              items: 9
            }
          }
		});
     });
</script>
<style>
.owl-carousel .item{
    height: 87px;
    display: flex;
    align-items: center;
}
  .owl-carousel, .owl-carousel .owl-nav.disabled {
    display: block !important;
}
.owl-nav .owl-next {
    right: -40px !important;
}
 .owl-dot span {
    height: 10px;
    width: 10px;
    background-color: transparent;
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid #ccc;
}
  .owl-dot.active span {
     background-color: #82d2e5;
    border: 1px solid #82d2e5;
  }
  .owl-dots {
    text-align: center;
}
  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}
  
  @media (max-width:480){
  	.owl-carousel .owl-item img {
    	width: auto;
   	}
  }
</style>
  
<style>

.one-half
  {
   width:50%; 
  }
  
  .box-content
  {
  padding-top:4px;
  
  }
  
  .box-title
  {
    font-size: 18px;
    line-height: 1.6;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    font-weight: 600;
    padding-left: 25px;
  }
  
  .box-item
  {
   float:left;
   padding:0 25px;
 }
  
  
  
.half {
  float: left;
  width: 50%;
  padding: 0 1em;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #66d4e8;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.blue label {
 background: #66d4e8;
 font-size: 18px;
 font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
 color: #ffffff;
 font-weight: 600;
}
  
.tab-content {
  max-height: 0;
  overflow: auto;
  background: #82d2e5;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.blue .tab-content {
  background: #66d4e8;
  
}
/*.tab-content p {
  margin: 1em;
}*/
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
  width:100%;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=radio] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=radio]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}


  
</style>